
/*Define CSS Variables*/
:root {
  --darkest-grey: #303030;
  --darker-grey:#363636;
  --dark-grey:#404040;
  --grey:#707070;
  --light-grey:;
  --lighter-grey:#d0d0d0;
  --lightest-grey:#e9e9e9;
}

/*Pre JS Styling*/
      html {
        height: 100vh;
      }
  /*Sceen Options*/
      #screen {
        /*height: 667px;
        width: 375px;*/
        display: flex;
        background-color: var(--darkest-grey);
        text-align:center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100vh;
      }

  /*Basic formatting*/
      /*Font-Family*/
      body, section, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
        font-family: Microsoft Himalaya, times new roman;
      }

      body {
        width: auto;
        /*max-height: 667px;*/


        background-color: var(--grey);
        color: var(--lighter-grey);
        font-family: Microsoft Himalaya, times new roman;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
      }

      /*H1 Stylings*/
      h1 {
        font-size: 36px;
        letter-spacing: 16px;
        text-align: center;
        font-weight: 100;
        text-indent: 16px;
      }
      #header {
        /*height: 23.4vh;*/
        margin-top: 25px;
        /*background-color: orange;*/
      }

      #title-header h1{
        /*background-color: green;*/
      }
  /*Logo Box*/
      #area-1 {
        /*max-height: 29.5vh;
        background-color: blue; */

      }

      #logo-img {

        background-color: var(--dark-grey);
      }

      /*Area 2 Format*/
      #area-2 {
        /*
        background-color: green;
        */
      }

      /*Button Formatting*/

          /*Button area*/
          #button-area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /*
            background-color: purple;
            */
          }

          /*Button link Format*/
          .button-link {
            width: auto;
            height: 16vw;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            /*background-color: red;*/
          }



          /*Button Format*/
          .main-menu-button {

            width: auto;
            background-color: transparent;
            border-width: 0px;
            margin: 16px 0px 16px 0px;
            */

          }

          /*Button Text Format*/
          .button-text {

            font-size: 18px;
            letter-spacing: 3px;
            text-indent: 3px;
            font-weight: 100;
            color: var(--lightest-grey);

          }

          .button-text:hover {
            color: blue;
          }

      /*Footer text*/

      #footer {
        /*
        background-color: yellow;
        */
      }

        #footer h4 {
        text-align: center;
        font-size: 16px;
        letter-spacing: 2px;
        text-indent: 2px;
        font-weight: 100;
        color: var(--grey);
        */
      }
